.DS_Store
/wechat/Projects/ble/wechatIOT/CC2541DB/CC2541_Slave/*
!.gitignore
!/wechat/Projects/ble/wechatIOT/CC2541DB/CC2541_Slave/Exe/*.hex
!/wechat/Projects/ble/wechatIOT/CC2541DB/CC2541_Slave/Exe/*.bin
